<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd"
>

<bean id="ss1" class="java.net.ServerSocket">
	<constructor-arg value="#{T(com.jf.chatserver.core.Counter).getCount() + portList[0].port}" type="int"/>
</bean>

<util:list id="portList"> 
       <bean class="com.jf.chatserver.core.Port" p:port="9080" />
</util:list>


<util:list id="helper">
    <bean id="chatserver1" class="com.jf.chatserver.core.ChatServer">
    	<constructor-arg ref="ss1"/>
    </bean>
</util:list>
</beans>